<div id="header-carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#header-carousel" data-slide-to="1"></li>
    <li data-target="#header-carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="header d-block w-100" src="~/img/photo1.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Caption Head1</h5>
        <p>Caption Content1</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="header d-block w-100" src="~/img/photo2.jpg" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
      <h5>Caption Head2</h5>
      <p>Caption Content2</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="header d-block w-100" src="~/img/photo3.jpg" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
      <h5>Caption Head3</h5>
      <p>Caption Content3</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#header-carousel" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#header-carousel" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
  </a>
</div>
