<footer class="footer-custom">
  <p>&copy; @DateTime.Now.Year - CLOCKPRIME</p>
  <a href="#" class="fa fa-facebook"></a>
  <a href="#" class="fa fa-twitter"></a>
  <a href="#" class="fa fa-youtube"></a>
  <a href="#" class="fa fa-pinterest"></a>
  <a href="#" class="fa fa-android"></a>
  <a href="#" class="fa fa-skype"></a>
  <a href="#" class="fa fa-snapchat"></a>
  <a href="#" class="fa fa-linkedin"></a>
</footer>
