@{
  Layout = "_Layout";
}

<h1>Add New Employee</h1>
<form action='/employees' method='post'>
  <div class="form-group">
    <label for='employeeName'>Employee Name</label>
    <input id='employeeName' name='employeeName' type='text'>

    <select name="departmentId">
      @foreach(var department in Model)
      {
        <option value="@department.id">@department.name</option>
      }
    </select>
  </div>
  <button type='submit' class='btn btn-info'>Submit</button>
</form>

<a href='/departments'><button class='btn btn-info'>View Departments</button></a>
<a href='/employees'><button class='btn btn-info'>View Employees</button></a>
<a href='/'><button class='btn btn-info'>Back Home</button></a>
