@{
  Layout = "_Layout";
}
<div class="form-group">
<form action="/login" method="post">
  <label for="userName">UserName</label>
  <input id="userName" value="userName" name="userName" type="text">
  <label for="password">UserName</label>
  <input id="password" value="password" name="password" type="text">
  <button type="submit">LOG IN</button>
</form>
<a href = '/signup'><button class='btn btn-info'>Sign Up</button></a>
</div>
